In [ ]:
import numpy as np
import pandas as pd

In [ ]:
benefits = pd.read_csv('../data/interim/benefits by year.csv')
cpi = pd.read_csv('../data/interim/cpi average by year.csv')
unemp = pd.read_csv('../data/interim/unemployment by year.csv')

In [55]:
df = pd.concat([benefits['Total Benefits(M)'],cpi['CPI.Average'],unemp['Rate']],axis=1)

In [63]:
df.index = pd.Series(range(1990,2017))

     Total Benefits(M)  CPI.Average      Rate
1990         14,142.79   130.658333  6.093021
1991         17,315.77   136.191667  7.142391
1992         20,905.68   140.316667  7.464904
1993         22,006.03   144.458333  6.924037
1994         22,748.58   148.225000  6.186649
1995         22,764.07   152.383333  5.893411
1996         22,440.11   156.850000  5.912081
1997         19,548.86   160.516667  5.474520
1998         16,890.49   163.008333  5.114221
1999         15,769.40   166.575000  4.873476
2000         14,983.32   172.200000  4.321123
2001         15,547.39   177.066667  4.985591
2002         18,256.20   179.875000  5.720915
2003         21,404.28   183.958333  6.027990
2004         24,618.89   188.883333  5.695817
2005         28,567.88   195.291667  5.438981
2006         30,187.35   201.591667  4.979263
2007         30,373.27   207.342417  4.896069
2008         34,608.40   215.302500  5.759990
2009         50,359.92   214.537000  8.883838
2010         64,702.16   218.055500  9.189580
2011         71,810.92   224.939167  8.523477
2012         74,619.34   229.593917  7.657544
2013         76,066.32   232.957083  7.211610
2014         69,998.84   236.736167  6.096365
2015         69,645.14   237.017000  5.401873
2016         66,539.27   240.007167  5.160680